################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRFSharp/v14/.suo
/Core/CRFSharp/obj/Release/CRFSharp.pdb
/Core/CRFSharp/obj/Release/CRFSharp.dll
/Core/CRFSharp/obj/Release/CRFSharp.csproj.FileListAbsolute.txt
/Core/CRFSharp/bin/Release/CRFSharp.pdb
/Core/CRFSharp/bin/Release/CRFSharp.dll
/Core/CRFSharp/bin/Release/AdvUtils.dll
/Core/CRFSharpWrapper/obj/Release/CRFSharpWrapper.pdb
/Core/CRFSharpWrapper/obj/Release/CRFSharpWrapper.dll
/Core/CRFSharpWrapper/obj/Release/CRFSharpWrapper.csprojResolveAssemblyReference.cache
/Core/CRFSharpWrapper/obj/Release/CRFSharpWrapper.csproj.FileListAbsolute.txt
/Core/CRFSharpWrapper/bin/Release/CRFSharpWrapper.pdb
/Core/CRFSharpWrapper/bin/Release/CRFSharpWrapper.dll
/Core/CRFSharpWrapper/bin/Release/CRFSharp.pdb
/Core/CRFSharpWrapper/bin/Release/CRFSharp.dll
/Core/CRFSharpWrapper/bin/Release/AdvUtils.dll
/CRFSharpConsole/bin/Release/CRFSharpWrapper.pdb
/CRFSharpConsole/bin/Release/CRFSharpWrapper.dll
/CRFSharpConsole/bin/Release/CRFSharpConsole.pdb
/CRFSharpConsole/bin/Release/CRFSharpConsole.exe.config
/CRFSharpConsole/bin/Release/CRFSharpConsole.exe
/CRFSharpConsole/bin/Release/CRFSharp.pdb
/CRFSharpConsole/bin/Release/CRFSharp.dll
/CRFSharpConsole/bin/Release/AdvUtils.dll
/corpus2tag/obj/x86/Release/corpus2tag.pdb
/corpus2tag/obj/x86/Release/corpus2tag.exe
/corpus2tag/obj/x86/Release/corpus2tag.csprojResolveAssemblyReference.cache
/corpus2tag/obj/x86/Release/corpus2tag.csproj.FileListAbsolute.txt
/corpus2tag/bin/Release/GenerateFeatureDefault.pdb
/corpus2tag/bin/Release/GenerateFeatureDefault.dll
/corpus2tag/bin/Release/CRFSharp.pdb
/corpus2tag/bin/Release/CRFSharp.dll
/corpus2tag/bin/Release/corpus2tag.pdb
/corpus2tag/bin/Release/corpus2tag.exe.config
/corpus2tag/bin/Release/corpus2tag.exe
/corpus2tag/bin/Release/AdvUtils.dll
/CRFSharpConsole/obj/x86/Release/CRFSharpConsole.pdb
/CRFSharpConsole/obj/x86/Release/CRFSharpConsole.exe
/CRFSharpConsole/obj/x86/Release/CRFSharpConsole.csprojResolveAssemblyReference.cache
/CRFSharpConsole/obj/x86/Release/CRFSharpConsole.csproj.FileListAbsolute.txt
/GenerateFeatureDictMatch/obj/Release/GenerateFeatureDictMatch.pdb
/GenerateFeatureDictMatch/obj/Release/GenerateFeatureDictMatch.dll
/GenerateFeatureDictMatch/obj/Release/GenerateFeatureDictMatch.csprojResolveAssemblyReference.cache
/GenerateFeatureDictMatch/obj/Release/GenerateFeatureDictMatch.csproj.FileListAbsolute.txt
/GenerateFeatureDictMatch/bin/Release/GenerateFeatureDictMatch.pdb
/GenerateFeatureDictMatch/bin/Release/GenerateFeatureDictMatch.ini
/GenerateFeatureDictMatch/bin/Release/GenerateFeatureDictMatch.dll
/GenerateFeatureDictMatch/bin/Release/CRFSharp.pdb
/GenerateFeatureDictMatch/bin/Release/CRFSharp.dll
/GenerateFeatureDictMatch/bin/Release/AdvUtils.dll
/GenerateFeatureDefault/obj/Release/GenerateFeatureDefault.pdb
/GenerateFeatureDefault/obj/Release/GenerateFeatureDefault.dll
/GenerateFeatureDefault/obj/Release/GenerateFeatureDefault.csprojResolveAssemblyReference.cache
/GenerateFeatureDefault/obj/Release/GenerateFeatureDefault.csproj.FileListAbsolute.txt
/GenerateFeatureDefault/bin/Release/GenerateFeatureDefault.pdb
/GenerateFeatureDefault/bin/Release/GenerateFeatureDefault.dll
/GenerateFeatureDefault/bin/Release/CRFSharp.pdb
/GenerateFeatureDefault/bin/Release/CRFSharp.dll
/GenerateFeatureDefault/bin/Release/AdvUtils.dll
/Core/CRFSharp/obj/Release/CRFSharp.csprojResolveAssemblyReference.cache
/CRFSharpConsole/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CRFSharpConsole/bin/Release/CRFSharpConsole.vshost.exe.manifest
/CRFSharpConsole/bin/Release/CRFSharpConsole.vshost.exe.config
/CRFSharpConsole/bin/Release/CRFSharpConsole.vshost.exe
